---
http_interactions:
- request:
    method: post
    uri: https://api.knackhq.com/v1/objects/object_37/records
    body:
      encoding: UTF-8
      string: '{"field_384":"Lovelight","field_385":"Architect"}'
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-9zhYE3eimPN5IHfbq6ZhQQ"
      X-Knack-Server:
      - us-east-1d (i-07dc5cb4efc07843d)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4775'
      X-Planlimit-Reset:
      - '40435631'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1498653966'
    body:
      encoding: UTF-8
      string: '{"id":"5953a50ce39f6a5bb74c4781","field_384":"Lovelight","field_384_raw":"Lovelight","field_385":"Architect","field_385_raw":"Architect"}'
  recorded_at: Wed, 28 Jun 2017 12:46:04 GMT
recorded_with: VCR 2.9.3
