---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_1/fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aHIkzgdTh53wnlOe6EAtPw=="
      X-Knack-Server:
      - us-e-node-4
    body:
      encoding: UTF-8
      string: '{"fields":[{"label":"Stack No","key":"field_1","type":"unicode","required":false,"field_type":"short_text"},{"label":"Warehouse","key":"field_100","type":"unicode","required":false,"field_type":"connection"},{"label":"Seller","key":"field_68","type":"unicode","required":false,"field_type":"connection"},{"label":"Stack
        No Seller","key":"field_3","type":"unicode","required":false,"field_type":"short_text"},{"label":"Stack
        No Buyer","key":"field_169","type":"unicode","required":false,"field_type":"short_text"},{"label":"Price
        Per Ton","key":"field_6","type":"float","required":false,"field_type":"currency"},{"label":"Bale
        Count","key":"field_4","type":"float","required":false,"field_type":"number"},{"label":"Bale
        Type","key":"field_156","type":"unicode","required":false,"field_type":"multiple_choice","choices":["Small
        bales","Large bales","Compressed bales","Cubes","Haylage","Select"]},{"label":"Est
        Bale Weight","key":"field_5","type":"float","required":false,"field_type":"number"},{"label":"Date
        Stacked","key":"field_7","type":"datetime","required":false,"field_type":"date_time"},{"label":"Date
        Purchased","key":"field_8","type":"datetime","required":false,"field_type":"date_time"},{"label":"Location","key":"field_12","type":"unicode","required":false,"field_type":"shor[...]
