---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_4/records?page=999&rows_per_page=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-29022bef"
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: '{"total_pages":2,"current_page":"999","total_records":28,"records":[]}'
  recorded_at: Thu, 19 Mar 2015 18:49:11 GMT
recorded_with: VCR 2.9.3
