---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/invalid_object/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43-e6e352b8"
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: '{"total_pages":0,"current_page":"1","total_records":0,"records":[]'
  recorded_at: Wed, 18 Mar 2015 18:16:12 GMT
recorded_with: VCR 2.9.3
