---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"KxvaBpzMtg9j89N9CHh4gQ=="
      X-Knack-Server:
      - us-e-node-3
    body:
      encoding: UTF-8
      string: '{"object":{"_id":"532c667182bbd2a152255a54","conns":[],"identifier":"field_1","key":"object_1","name":"Stacks","tasks":[],"status":"current","fields":[{"_id":"532c667182bbd2a152255a55","default":"","key":"field_1","name":"Stack
        No","rules":[],"conditional":false,"user":false,"unique":true,"required":true,"immutable":false,"type":"short_text"}]}}'
  recorded_at: Wed, 11 Mar 2015 20:23:18 GMT
recorded_with: VCR 2.9.3
