---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_3/records?filters=%7B%22match%22:%22and%22,%22rules%22:%5B%7B%22field%22:%22field_1%22,%22operator%22:%22is%22,%22value%22:%22595e42bcefac9a445sa4%22%7D,%7B%22field%22:%22field_2%22,%22operator%22:%22is%22,%22value%22:%22595e42b8ewrwecvxcv54%22%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41-0pDIjjb8Ilcyf19sdEeC/g"
      X-Knack-Server:
      - us-east-1c (i-0290239a0a8471b90)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4987'
      X-Planlimit-Reset:
      - '52858909'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1499591943'
    body:
      encoding: UTF-8
      string: '{"total_pages":0,"current_page":1,"total_records":0,"records":[]}'
  recorded_at: Sun, 09 Jul 2017 09:19:01 GMT
recorded_with: VCR 2.9.3
