---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_4/records/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25e-a7b38526"
      X-Knack-Server:
      - us-e-node-2
    body:
      encoding: UTF-8
      string: '{"id":"999999","account_status":"active","approval_status":"approved","profile_keys":"Department","profile_keys_raw":[{"id":"profile_8","identifier":"Department"}],"field_32":"First
        Last","field_32_raw":{"first":"First","last":"Last"},"field_33":"<a href=\"mailto:flast@example.com\">flast@example.com</a>","field_33_raw":{"email":"flast@example.com"},"field_34":"*********","field_34_raw":"**********","field_188":"<span
        class=\"999977\">Department</span>","field_188_raw":[{"id":"999977","identifier":"Department"}]}'
  recorded_at: Fri, 17 Apr 2015 21:32:07 GMT
recorded_with: VCR 2.9.3
