---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_4/records?rows_per_page=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"KxvaBpzMtg9j89N9CHh4gQ=="
      X-Knack-Server:
      - us-e-node-3
    body:
      encoding: UTF-8
      string: '{"total_pages":2,"current_page":1,"total_records":28,"records":[{"id":"54f9e47f0272d03b22167c52","account_status":"active","approval_status":"approved","profile_keys":"Accounting","profile_keys_raw":[{"id":"profile_8","identifier":"Accounting"}],"field_32":"First
        Name","field_32_raw":{"last":"Last","first":"First"},"field_33":"<a href=\"mailto:flast@example.com\">flast@example.com</a>","field_33_raw":{"email":"flast@example.com"},"field_34":"*********","field_34_raw":"**********","field_188":"<span
        class=\"54f9f0a20272d03b22169ffa\">Accounting</span>","field_188_raw":[{"id":"54f9f0a20272d03b22169ffa","identifier":"Accounting"}]}]}'
  recorded_at: Wed, 11 Mar 2015 20:23:18 GMT
recorded_with: VCR 2.9.3
