---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_3/records?filters=%7B%22match%22:%22and%22,%22rules%22:%5B%7B%22field%22:%22field_1%22,%22operator%22:%22is%22,%22value%22:%22595e42bcefac9a4f1a2797b3%22%7D,%7B%22field%22:%22field_2%22,%22operator%22:%22is%22,%22value%22:%22595e42b8d1fca5524662f62c%22%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e4-Dlb87C+Lw8KS7Ogg4nvgfA"
      X-Knack-Server:
      - us-east-1d (i-0f836533bb75fc012)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4988'
      X-Planlimit-Reset:
      - '52860869'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1499591941'
    body:
      encoding: UTF-8
      string: '{"total_pages":1,"current_page":1,"total_records":1,"records":[{"id":"5960e9cb662bde5508afc2b2","field_1_raw":[{"id":"595e42bcefac9a4f1a2797b3"}],
              "field_2_raw":[{"id":"595e42b8d1fca5524662f62c"}]}]}'
  recorded_at: Sun, 09 Jul 2017 09:18:59 GMT
recorded_with: VCR 2.9.3
