---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_4/records?page=2&rows_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"GkcPMmEEnHPfAdKKnG6egA=="
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: '{"total_pages":3,"current_page":"2","total_records":28,"records":[{"id":"54f9e47f0272d03b22167c52","account_status":"active","approval_status":"approved","profile_keys":"Accounting","profile_keys_raw":[{"id":"profile_8","identifier":"Accounting"}],"field_32":"First
        Name","field_32_raw":{"last":"Last","first":"First"},"field_33":"<a href=\"mailto:flast@example.com\">flast@example.com</a>","field_33_raw":{"email":"flast@example.com"},"field_34":"*********","field_34_raw":"**********","field_188":"<span
        class=\"54f9f0a20272d03b22169ffa\">Accounting</span>","field_188_raw":[{"id":"54f9f0a20272d03b22169ffa","identifier":"Accounting"}]}]}'
  recorded_at: Wed, 15 Apr 2015 17:04:47 GMT
- request:
    method: put
    uri: https://api.knackhq.com/v1/objects/object_2/records/77777777
    body:
      encoding: UTF-8
      string: '{"field_21":"1116"}'
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Apr 2015 15:25:15 GMT
recorded_with: VCR 2.9.3
