---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_3/records?filters=%7B%22match%22:%22and%22,%22rules%22:%5B%7B%22field%22:%22field_1%22,%22operator%22:%22is%22,%22value%22:%22595e42b8d1fca5524662f62c%22%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"212-v3ysc8peNMlXGDyjd2t/7w"
      X-Knack-Server:
      - us-east-1c (i-09f56127c77488eb5)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4969'
      X-Planlimit-Reset:
      - '45112466'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1499599689'
    body:
      encoding: UTF-8
      string: '{"total_pages":1,"current_page":1,"total_records":1,"records":[{"id":"595e42b9daea344d691d2548","field_1":"<span
        class=\"595e42b8d1fca5524662f62c\">Metricon Developer</span>","field_1_raw":[{"id":"595e42b8d1fca5524662f62c","identifier":"Metricon
        Developer"}]}]}'
  recorded_at: Sun, 09 Jul 2017 11:28:07 GMT
recorded_with: VCR 2.9.3
