---
http_interactions:
- request:
    method: get
    uri: https://api.knackhq.com/v1/objects/object_3/records?filters=%7B%22match%22:%22and%22,%22rules%22:%5B%7B%22field%22:%22field_1%22,%22operator%22:%22is%22,%22value%22:%22849asd89asd125afg86tr45t%22%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41-0pDIjjb8Ilcyf19sdEeC/g"
      X-Knack-Server:
      - us-east-1d (i-0900a772f752d533d)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4967'
      X-Planlimit-Reset:
      - '45036323'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1499599765'
    body:
      encoding: UTF-8
      string: '{"total_pages":0,"current_page":1,"total_records":0,"records":[]}'
  recorded_at: Sun, 09 Jul 2017 11:29:23 GMT
recorded_with: VCR 2.9.3
