---
http_interactions:
- request:
    method: put
    uri: https://api.knackhq.com/v1/objects/object_37/records/5953a50ce39f6a5bb74c4781
    body:
      encoding: UTF-8
      string: '{"field_384":"Manu","field_385":"Builder"}'
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b-rIqYWhifLyE+wbdYotF4QQ"
      X-Knack-Server:
      - us-east-1c (i-0e6b181fe24f4fd0b)
      X-Planlimit-Limit:
      - '5000'
      X-Planlimit-Remaining:
      - '4774'
      X-Planlimit-Reset:
      - '38556069'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1498655845'
    body:
      encoding: UTF-8
      string: '{"id":"5953a50ce39f6a5bb74c4781","field_384":"Manu","field_384_raw":"Manu","field_385":"Builder","field_385_raw":"Builder"}'
  recorded_at: Wed, 28 Jun 2017 13:17:24 GMT
recorded_with: VCR 2.9.3
