---
http_interactions:
- request:
    method: put
    uri: https://api.knackhq.com/v1/objects/object_2/records/999999999
    body:
      encoding: UTF-8
      string: '{"field_21":"1116"}'
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: '{"id":"999999999","field_218":"st","field_218_raw":"st","field_20":1,"field_20_raw":1,"field_21":"1116","field_21_raw":1116,"field_22":"<span
        class=\"5411111\">foo</span>","field_22_raw":[{"id":"5411111","identifier":"foo"}]}'
  recorded_at: Mon, 13 Apr 2015 15:25:30 GMT
- request:
    method: put
    uri: https://api.knackhq.com/v1/objects/object_2/records/77777777
    body:
      encoding: UTF-8
      string: '{"field_21":"1116"}'
    headers:
      X-Knack-Application-Id:
      - 123456789
      Content-Type:
      - application/json
      X-Knack-Rest-Api-Key:
      - 123-456-789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Knack-Server:
      - us-e-node-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 13 Apr 2015 15:25:30 GMT
recorded_with: VCR 2.9.3
